@page "/"
@inject HttpClient Http

<h3>Get Data from Server</h3>

<button @onclick="GetData">Click Me</button>

<p>@message</p> 

@code {
    private string message = "";

    private async Task GetData()
    {
        message = await Http.GetStringAsync("https://localhost:5015/api/hello");
    }
}